.DS_Store
*.o
*.d
*.tmp
*.swp
app/bin/*
*.pyc
new_cv/*
cv/*

# xcode noise
build/*
*.pbxuser
*.mode1v3
*.perspectivev3
# webkit-plugin-mac/build  # precompiled version should be up at the repo
firebreath-plugin/build/*
firebreath-plugin/Debug/*
firebreath-plugin/FireBreath.build/*
webkit-plugin-mac/build/*

# old skool
.svn

# osx noise
.DS_Store
profile

# common extension hard links
safari-extension-mac/DepthJS.safariextension/extension-common
