#depthjs_selectorBox{
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5170f7', endColorstr='#264ef3'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#5170f7), to(#264ef3)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #5170f7,  #264ef3); /* for firefox 3.6+ */

  height:150px;
  width:150px;
  opacity:.75;
  z-index:100000;
  position:fixed;
  left:0;
  top:0;
  -moz-border-radius:35px;
  -webkit-border-radius:35px;
  border-radius:75px;

  -moz-box-shadow: 0px 8px 35px #666;
  -webkit-box-shadow: 0px 8px 35px #666;
  box-shadow: 0px 8px 35px #666;
}


#depthjs_selectorBoxPopup{
  position:absolute;
  z-index:100;
  width:400px;
  padding:10px;
  line-height:2em;

  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;

  background: #999; /* for non-css3 browsers */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#eceaea)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #fefefe,  #eceaea); /* for firefox 3.6+ */

  -moz-box-shadow: 0px 8px 35px #888;
  -webkit-box-shadow: 0px 8px 35px #888;
  box-shadow: 0px 8px 35px #888;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.depthjs_selectorBoxPopupItem{
  font-size:15px;
  font-weight:bold;
  padding:10px;
  padding:10px;
  border-bottom:1px solid #e3e3e3;
}

.depthjs_selectorBoxPopupItemHighlight{
  color:#fff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5170f7', endColorstr='#264ef3'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#5170f7), to(#264ef3)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #5170f7,  #264ef3); /* for firefox 3.6+ */
}

#depthjs_selectorBoxPopup a:link{color:#666; font-weight:bold;}
#depthjs_selectorBoxPopup a:visited{color:#888; font-weight:bold;}
#depthjs_selectorBoxPopup a:hover{color:orange; font-weight:bold;}

